@charset "utf-8";

/*===============================================
	Html(Base Font)
================================================*/
html{/* 16px>10px */
	font-size: 62.5%;
}

/*===============================================
	For SmartPhone and All
===============================================*/
/*-----------------------------------------------
	Body
-----------------------------------------------*/
	a:link,
	a:visited{
		color: #000;
		text-decoration: none;
	}
	
	body{
	margin: 10px 20px;
	}
/*-----------------------------------------------
	Main
-----------------------------------------------*/
h1{
	font-family: 'Parisienne', cursive;
	font-size: 4rem;
	margin:80px 15px 50px;
}


.pagetop{
	position: fixed;
	bottom: 16px;
	right: 16px;
	font-size: 2rem;
}

.pagetop a{
	display: block;
	text-decoration: none;
	color: #c9171e;
}

.pagetop:hover{
	opacity: 0.85;
}

figure{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #000;
	width: 80%;
	height: 250px;
	margin: 100px 15px;
	border: 1px solid #efefef;
	position: relative;
}

	figure p{/* 画像に文字を配置 */
		position: absolute;
		color: 000;
		font-family: 'Parisienne', cursive;
		font-size: 3em;
		text-shadow: 5px 5px 2px #ccc;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		margin: 0;
		padding: 0;
	}

	
	figure img{
		width: 100%;
	}

img.img,
figure a{
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

figure img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
}

figure:hover img{
	opacity: .5;
}

/*-----------------------------------------------
	Footer
-----------------------------------------------*/
footer{
	margin:200px auto 10px;
	text-align: center;
}

/*===============================================
	For Tablet
===============================================*/
@media screen and (min-width: 600px){
	main{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	figure{
		width: 40%;
		height: 200px;
		margin: 10px 15px;
	}
}

/*===============================================
	For PC
===============================================*/
@media screen and (min-width: 960px){
	figure{
		width: 20%;
		height: 200px;
		margin: 0 15px;
	}
}
