@charset "utf-8";


/*-----------------------------------------------
	Header
-----------------------------------------------*/
#menu{
	text-align: center;
}

.button{
	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 2em;
	font-family: 'Parisienne', cursive;
	text-decoration: none;
	border: none;
}

.button:before,
.button:after{
	position: absolute;
	top: 1.3em;
	content: "";
	display: inline-block;
	width: 0;
	height: 2px; 
	background: #F30034;
	transition: 1s;
}

.button:before{
	left: 50%;
}

.button:after{
	right: 50%;
}

.button:hover:before,
.button:hover:after{
	width: 50%;
}



html, body {
	margin: 10px;
	padding: 0px;
	background-color: white;
}

.carousel {
	position: relative;
	margin-top: 26px auto;
}

.carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.carousel-open:checked + .carousel-item {
	position: static;
	opacity: 100;
}

.carousel-item {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
}

.carousel-item img {
	display: block;
	margin: 0 auto;
	width: 40%;
	height: auto;
	max-width: 100%;
}

.carousel-control {
	background: rgba(0, 0, 0, 0.28);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 40px;
	height: 40px;
	line-height: 35px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	cursor: pointer;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align: center;
	width: 40px;
	z-index: 10;
}

.carousel-control.prev {
	left: 2%;
}

.carousel-control.next {
	right: 2%;
}

.carousel-control:hover {
	background: rgba(0, 0, 0, 0.8);
	color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
	display: block;
}

.carousel-indicators {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}

.carousel-indicators li {
	display: inline-block;
	margin: 0 5px;
}

.carousel-bullet {
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 35px;
}

.carousel-bullet:hover {
	color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
	color: #428bca;
}


/*-----------------------------------------------
	Footer
-----------------------------------------------*/
footer{
	margin:200px auto 10px;
	text-align: center;
}
