@charset "utf-8";

/*===============================================
	Html(Base Font)
================================================*/
html{
	font-size: 62.5%;
}
/*===============================================
	For SmartPhone and All
===============================================*/
/*-----------------------------------------------
	Header
-----------------------------------------------*/
#menu{
	text-align: center;
}

/* .button{
	display: inline-block;
	width: 160px;
	height: 40px;
	font-family: 'Parisienne', cursive;
	font-size: 1.8rem;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
}

.button::before,
.button::after{
	position: absolute;
	z-index: -1;
	display: block;
	content:'';
}

.button,
.button::before,
.button::after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.button{
	background-color: #fff;
	color: #c9171e;
	border: 1px solid #fff;
	line-height: 50px;
}

.button:hover{
	background-color: #fff;
	border: 1px solid #c9171e;
	color: #c9171e;
} */

.button{
	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 2em;
	font-family: 'Parisienne', cursive;
}

.button:before,
.button:after{
	position: absolute;
	top: 1.3em;
	content: "";
	display: inline-block;
	width: 0;
	height: 2px; 
	background: #F30034;
	transition: 1s;
}

.button:before{
	left: 50%;
}

.button:after{
	right: 50%;
}

.button:hover:before,
.button:hover:after{
	width: 50%;
}

/*-----------------------------------------------
	Body
-----------------------------------------------*/
a:link,
a:visited{
	color: black;
	text-decoration: none;
}

body{
	margin: 10px 20px;
}

/*-----------------------------------------------
	Main
-----------------------------------------------*/
h1{
	font-family: 'Parisienne', cursive;
	font-size: 4rem;
	margin: 80px 0 20px;
}

.pagetop{
	position: fixed;
	bottom: 16px;
	right: 16px;
	font-size: 2rem;
}

.pagetop a{
	display: block;
	text-decoration: none;
	color: #c9171e;
}

.pagetop:hover{
	opacity: 0.85;
}

.header-banner{
	width: 100%;
	height: 200px;
	margin: 10px 0;
	padding: 0;
	background-image: url(../img/23.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

dt{
	margin: 20px 30px;
	font-size: 2rem;
	font-weight: bold;
}

dd{
	margin:10px 30px;
	font-size: 1.4rem;
}

dd:nth-of-type(4){
	text-indent: -0.7rem;
}

/*-----------------------------------------------
	Footer
-----------------------------------------------*/
footer{
	margin:200px auto 10px;
	text-align: center;
}

/*===============================================
	For Tablet
===============================================*/
@media screen and (min-width: 600px){
	main{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

/*===============================================
	For PC
===============================================*/
@media screen and (min-width: 960px){
	main{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
