@charset "utf-8";

/*===============================================
	Html(Base Font)
================================================*/
html{/* 16px>10px */
	font-size: 62.5%;
}

/*===============================================
	For SmartPhone and All
===============================================*/
/*-----------------------------------------------
	Header
-----------------------------------------------*/
#menu{
	text-align: center;
}

.button{
	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 2em;
	font-family: 'Parisienne', cursive;
}

.button:before,
.button:after{
	position: absolute;
	top: 1.3em;
	content: "";
	display: inline-block;
	width: 0;
	height: 2px; 
	background: #F30034;
	transition: 1s;
}

.button:before{
	left: 50%;
}

.button:after{
	right: 50%;
}

.button:hover:before,
.button:hover:after{
	width: 50%;
}


/*-----------------------------------------------
	Body
-----------------------------------------------*/
a:link,
a:visited{
	color: black;
	text-decoration: none;
}
	body{
	margin: 10px 20px;
}

/*-----------------------------------------------
	Main
-----------------------------------------------*/
h1{
	font-family: 'Parisienne', cursive;
	font-size: 3.5rem;
	margin:80px 15px 50px;
}

.pagetop{
	position: fixed;
	bottom: 16px;
	right: 16px;
	font-size: 2rem;
}

.pagetop a{
	display: block;
	text-decoration: none;
	color: #c9171e;
}

.pagetop:hover{
	opacity: 0.85;
}

figure{
	display: flex;
	flex-wrap: wrap;
	 align-items: center;
	background-color: #000;
	width: 80%;
	height: 250px;
	margin: 100px 15px;
	border: 1px solid #f9f9f9;
	position: relative;
}

	
	figure img{
		width: 100%;
	}

img.img,
figure a{
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

figure img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
}

figure:hover img{
	opacity: .5;
}

/*-----------------------------------------------
	Footer
-----------------------------------------------*/
footer{
	margin:200px auto 10px;
	text-align: center;
}

/*===============================================
	For Tablet
===============================================*/
@media screen and (min-width: 600px){
	main{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	figure{
		width: 40%;
		height: 200px;
		margin: 10px 15px;
	}
}

/*===============================================
	For PC
===============================================*/
@media screen and (min-width: 960px){
	main{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	figure{
		width: 20%;
		height: 200px;
		margin: 10px 15px;
	}
}
