@charset "utf-8";

/*===============================================
	Html(Base Font)
================================================*/
html{/* 16px>10px */
	font-size: 62.5%;
}

/*===============================================
	For SmartPhone and All
===============================================*/
/*-----------------------------------------------
	Header
-----------------------------------------------*/
#menu{
	text-align: center;
}

.button{
	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 2em;
	font-family: 'Parisienne', cursive;
}

.button:before,
.button:after{
	position: absolute;
	top: 1.3em;
	content: "";
	display: inline-block;
	width: 0;
	height: 2px; 
	background: #F30034;
	transition: 1s;
}

.button:before{
	left: 50%;
}

.button:after{
	right: 50%;
}

.button:hover:before,
.button:hover:after{
	width: 50%;
}


/*-----------------------------------------------
	Body
-----------------------------------------------*/
a:link,
a:visited{
	color: black;
	text-decoration: none;
}
	body{
	margin: 10px 20px;
}

/*-----------------------------------------------
	Main
-----------------------------------------------*/
h1{
	font-family: 'Parisienne', cursive;
	font-size: 3.5rem;
	margin:80px 15px 50px;
}

.pagetop{
	position: fixed;
	bottom: 16px;
	right: 16px;
	font-size: 2rem;
}

.pagetop a{
	display: block;
	text-decoration: none;
	color: #c9171e;
}

.pagetop:hover{
	opacity: 0.85;
}


#wrap {
	padding: 0px 0 10px 0;
	margin: 0px auto;
	width: 500px;
	text-align: center;
	position: relative;
}
input {
	margin: 400px 0 0 0;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

form img{
	position:absolute;
	top: 0;
	left: 80px;
	width: 0;
	height: 0;
	opacity: 0;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
}

input:checked + img {
	opacity: 1;
	box-shadow: 0px 0px 3px #777, 5px 5px 7px #777;
	width: 350px;
	height: auto;
}

label {
	padding: 20px 35px;
	margin: 0 5px;
	border: 2px solid #ddd;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
}

#img1{
	background:url(../img/01-mini.png);
}
#img2{
	background:url(../img/01-mini.png);
}
#img3{
	background:url(../img/01-mini.png);
}
#img4{
	background:url(../img/01-mini.png);
}
#img5{
	background:url(../img/01-mini.png);
}

label:hover{
	border: 2px solid #ff0099;
}


footer{
	text-align: center;
	margin: 50px auto;
}

/*===============================================
	For PC
===============================================*/
@media screen and (min-width: 960px){
	main{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

